<div class="page-header">
<h1>Editar Atividade Complementar</h1>
</div>

<%= render 'form' %>

<%= link_to 'Abrir', @atividade, class:"btn btn-default" %>
<%= link_to 'Voltar', atividades_path, class:"btn btn-default" %>