<div class="page-header">
  <h1>Lista de Atividades</h1>
</div>

<div class="panel panel-default">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Status
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% Atividade::STATUS.each do |status| %>
            <li><a class="filtro"><%= status.capitalize %></a></li>
            <%end%>
          </ul>
        </div>
      </th>
      <th>Professor</th>
      <th>Documento</th>
      <th>Aluno</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <%= render 'atividade',  collection: @atividades %>
  </tbody>

</table>
</div>

<div class="btn-group" role="group">
<% if usuario_atual.categoria == "Aluno" %>
  <%= link_to 'Nova Atividade', new_atividade_path, class:"btn btn-default" %>
<%end%>
<%= link_to 'Gerar PDF', atividades_path(format: "pdf"), class:"btn btn-default"%>
</div>

<script type="text/javascript">
  $(".filtro").click(function(){
      status = $(this).text();
      if(status == "Todos"){
        $('tbody tr').show()
      }
      else{
       $('tbody tr').show().not('.' +  status).hide();
     }
  })
</script>