<div class="page-header">
  <h1>Login</h1>
</div>

<%= render "form" %>

<h3>Validar declaração?</h3>

<p>Deseja verificar a autenticidade de uma declaração? <a href="/validar_declaracao_index">Clique aqui</a></p>