<div class="col-md-6">
	<div class="page-header">
	  <h1>Login</h1>
	</div>
	<%= render "form" %>

</div>

<div class="col-md-6">
	<div class="page-header">
	<h1>Validar declaração?</h1>
	</div>

	<p>Deseja verificar a autenticidade de uma declaração? <a href="/validar_declaracao_index">Clique aqui</a></p>

</div>