<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @usuario.nome %></h1>
    <p>
      Sua Atividade Complementar foi cadastrada com sucesso. Clique no link abaixo se deseja avaliar esse pedido.<br>
    </p>
    <p>
      <%= @url %>.
    </p>
    <p>Atenciosamente,<br>
    SISAC</p>
  </body>
</html>