<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ola, <%= @usuario.nome %></h1>
    <p>
      Uma nova Atividade Complementar foi cadastrada. Clique no link abaixo se deseja avaliar esse pedido.<br>
    </p>
    <p>
      <%= @url %>.
    </p>
    <p>Atenciosamente,
    SisAC</p>
  </body>
</html>