$red: random(256)-1
$green: random(256)-1
$blue: random(256)-1

$navbar-default-bg: #218cce
$navbar-default-link-color: #fff

.Processamento
	color: #005273
.Aceita
	color: #306100

.Rejeitada
	color: #FE0001

.Comfirmada
	color: rgb(random(256)-1, random(256)-1, random(256)-1)

.footer
	padding-top: 10px
	margin-top: 10px
	background: #000

#main-container
	margin-bottom: 100px

.page-header h1
	background-color: #DDDDCF
	font-size: 20px
	padding: 10px
	color: #5E5E44

@import "bootstrap-sprockets"
@import "bootstrap"